<div class="note-card card text-dark mb-3" [style.background-color]="!isEditing ? note.color : note.color">
  <ng-container *ngIf="!isEditing">
    <h3>{{ note.title }}</h3>
    <p>{{ note.content }}</p>

    <div class="icon-actions d-flex justify-content-end gap-2 mt-3">
      <i class="bi bi-pencil-square text-primary" (click)="onEditClicked()" title="Modifier"></i>
      <i class="bi bi-archive text-warning" (click)="onArchiveClicked()" title="Archiver"></i>
      <i class="bi bi-trash text-danger" (click)="onDeleteClicked()" title="Supprimer"></i>
    </div>
  </ng-container>

  <ng-container *ngIf="isEditing">
    <input class="form-control mb-2" [(ngModel)]="editNote.title" placeholder="Titre">
    <textarea class="form-control mb-2" [(ngModel)]="editNote.content" placeholder="Contenu"></textarea>
    <select class="form-select mb-2" [(ngModel)]="editNote.color">
      <option value="#fff9c4">Jaune</option>
      <option value="#ffcdd2">Rose</option>
      <option value="#c8e6c9">Vert</option>
      <option value="#bbdefb">Bleu</option>
    </select>
    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-sm btn-success" (click)="onSaveEdit()">Enregistrer</button>
      <button class="btn btn-sm btn-secondary" (click)="onCancelEdit()">Annuler</button>
    </div>
  </ng-container>
</div>
